{% extends "::layout.html.twig" %}

{% block body %}
    <form method="post" action="{{ path("profile_put_profile", {"hash": hash}) }}">
        {{ form_widget(form) }}
        <p><input type="submit" value="Сохранить"></p>
    </form>
{% endblock %}
