<!DOCTYPE html>
<html>
<head>

    <title>Alexis</title>
    {% include '::blocks/header/less.html.twig' %}
    {% include '::blocks/header/js.html.twig' %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
