<!DOCTYPE html>
<html>
<head>

    <title>Alexis</title>
    {% include '::blocks/header/less.html.twig' %}
    {% include '::blocks/header/js.html.twig' %}
</head>
<body>
<div id="container">
    <div id="cponsor"></div>
    <div id="free"></div>
    {% include '::tours.html.twig' %}
</div>
{% block body %}{% endblock %}
</body>
</html>
