<!DOCTYPE html>
<html>
<head>

    <title>Alexis</title>
    {% include '::blocks/header/less.html.twig' %}
    {% include '::blocks/header/js.html.twig' %}
    {% include '::blocks/header/css.html.twig' %}
</head>
<body>
<div id="topbar">
    {% if is_granted('ROLE_USER') %}
    {% render "RithisLoginzaBundle:Sessions:removeSession" %}
    {% else %}
    {% render "RithisLoginzaBundle:Sessions:newSessions" %}
    {% endif %}
</div>
<div id="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
