<div id="travels">

    <h2><a href="{{ path('travel_get_travels') }}">Направления</a> <sup>20 264</sup></h2>

    <div class="travel">
        {% render "RithisTravelBundle:Travels:getTravelsRandom" %}
    </div>
</div>
