{% extends "::layout.html.twig" %}

{% block body %}
<form action="{{ path("loginza_post_session_credentionals") }}" method="post">
    {{ form_widget(form) }}
    <input type="submit" value="Подтверждаю" />
</form>
{% endblock %}
