{% extends "::layout.html.twig" %}

{% block body %}
<form action="{{ path("profile_put_profile_credentials") }}" method="post">
    <input type="hidden" name="_method" value="put" />
    {{ form_widget(form) }}
    <input type="submit" value="Подтверждаю" />
</form>
{% endblock %}
