{% extends "::layout.html.twig" %}

{% block body %}

        <p>{{item.getResort().getCountry()}} {{item.getResort().getName()}} - {{item.price}} y.e.</p>
        <p><img width="150px" src="{{item.photo}}"></p>

{%endblock%}